.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.grid-item img {
  width: 70px;
  height: 80px;
  object-fit: contain;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.grid-item img {
  width: 70px;
  height: 80px;
  object-fit: contain;
}
